<!DOCTYPE html>
<html>
<head>
  <title>Main</title>
  <script src="static/js/jquery-1.10.2.js"></script>
  <script src="static/js/react.js"></script>
  <script src="static/js/react-dom.js"></script>
  <script src="static/js/browser.min.js"></script>
</head>
<body>

  <script type="text/javascript">
    var t=localStorage.getItem("t")
    if (t==null) {
      window.location.replace('/login');
    }
  </script>

 
  <div id="menu">
  {{.}}
  </div>

  <script type="text/babel" src="static/js/menu.js"></script>
</body>
</html>
