<!DOCTYPE html>
<html>
<head>
  <title>Main</title>
</head>
<body>

  <script type="text/javascript">
    var t=localStorage.getItem("t")
    if (t==null) {
      window.location.replace('/login');
    }
  </script>
  <div>
  {{.}}
  </div>
</body>
</html>
