<!DOCTYPE html>
<html>
<head>
  <title>Main</title>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="static/js/react.js"></script>
  <script src="static/js/react-dom.js"></script>
  <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
</head>
<body>

  <script type="text/javascript">
    var t=localStorage.getItem("t")
    if (t==null) {
      window.location.replace('/login');
    }
  </script>

  <!-- <script type="text/javascript">

        $.ajax({
          url: "/api/v1/menu/getall",
          type: 'POST',
          dataType: 'json',
          success: function(data,textStatus, xhr) {

            $("#menu").append(data.Items[0].Name)
          },
          beforeSend: function(xhr) {
             xhr.setRequestHeader('Authorization','Bearer ' + t);
          },
        })

  </script> -->
  <div id="menu">
  {{.}}
  </div>

  <script type="text/babel" src="static/js/menu.js"></script>
</body>
</html>
